<div class="container-fluid">

    <div class="CardWish ">

    <div class="widsh">

        <div class="infoWidsh">
            <h5>الاجمالي </h5>
            <span >{{totalUserss}} ر س </span>

        </div>


        <div class="iconWidsh">
            <i class="fa-solid fa-money-bill"></i>

        </div>
    </div>


    <div class="widsh">

        <div class="infoWidsh">
            <h5>المستخدمين </h5>
            <span>{{totalUserss}}</span>

        </div>


        <div class="iconWidsh people">
            
            <i class="fa-solid fa-person"></i>
        </div>
    </div>


    <div class="widsh">

        <div class="infoWidsh">
            <h5>الطلبات </h5>
            <span>{{totalUserss}}</span>

        </div>


        <div class="iconWidsh orders">
            <i class="fa-solid fa-box"></i>

        </div>
    </div>


    <div class="widsh">

        <div class="infoWidsh">
            <h5>عدد المنتجات </h5>
            <span>{{totalUserss}}</span>

        </div>


        <div class="iconWidsh numberProduct">
            <i class="fa-solid fa-table-columns"></i>
        </div>
    </div>

</div>


<div class="d-flex justify-content-between p-3">
    <h2>العملاء</h2>
    <form>
      <input
        type="text"
        [(ngModel)]="searchInput"
        name="searchInput"
        id=""
        placeholder="ابحث"
        style="border-radius: 20px; border: 1px solid teal; padding: 10px"
        (keyup)="search()"
      />
    </form>
  </div>


<div class="Data my-5" *ngIf="resultUser.length > 0">
 
  <table class="table w-100">
    <thead>
      <tr>
        <th>الرقم</th>
        <th>اسم المستخدم</th>
        <th>البريد الاكتروني</th>
        <th>تاريخ انشاء الحساب</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of resultUser; let i = index">
        <td class="px-3 font-bolder">{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt }}</td>

        <td>
          <!-- <button class="btn  btnDelete " (click)="onDelete(product.id)">حذف <i class="bi bi-trash3 me-1"></i>
            </button>
            <button class="btn btnEdit" (click)="onEdit(product)">تعديل <i class="bi bi-pencil-square"></i></button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex align-items-center justify-content-center">
    <button
      [disabled]="count < 2"
      class="btn btn-info m-3"
      (click)="navigateToPreviosPage()"
    >
      Previes
    </button>
    <h3>{{ count }}</h3>
    <button class="btn btn-info m-3" (click)="navigateToAnotherPage()">
      Next
    </button>
  </div>
</div>


    
   
</div> 





















